
<section id="popular">
  <header>

    <h1>Popular Courses</h1>

  </header>

  <div id="favorites">
    <% @popular_courses.each do |c| %>
        <section class="course">
          <figure >
            <%= link_to image_tag(c.image.url :medium, :class=>"course_pic"), course_path(c) %>
            <div id="rating">
              <div id="rated_stars" class="rating_<%= c.rating %>" >&nbsp;</div>
            </div>
          </figure>
          <h2><%= link_to c.title, course_path(c) %></h2>
          <aside><%= time_ago_in_words(c.created_at) %> ago</aside>
          <div class="introtext"><%= c.description[/(\s*\S+){#{30}}/] %>...</div>
        </section>

    <% end %>

  </div>


</section>
