<%= form_for ([@course, @comment]), :remote => true do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


        <h3>Rate Course:</h3>
        <div id="stars" style=<%= "display:none" if !@comment.page_id.blank? %>>
          <div class="star" id="star_1">&nbsp;</div>
          <div class="star" id="star_2">&nbsp;</div>
          <div class="star" id="star_3">&nbsp;</div>
          <div class="star" id="star_4">&nbsp;</div>
          <div class="star" id="star_5">&nbsp;</div>
        </div>

        <div class="field">
          <%= f.hidden_field :rating, id: "rating_value", value: "0" %>
        </div>

        <div class="field">
          <%= f.hidden_field :page_id, value: @comment.page_id %>
        </div>

    <div class="field">
      <%= f.text_area :content, :rows => 3, class: "input-medium" %>
    </div>
    <div class="actions">
      <%= f.submit 'Send', :class => "btn "  %>
    </div>
<% end %>

