<%
   lesson = page.lesson
   course = lesson.course
   %>

<li class="page sortable" id="page_<%= page.id %>" data-position="<%= page.position %>" >
  <div class="delete_page tooltips fadefocus">
    <%= link_to button_tag('<i class="icon-trash"></i>'.html_safe, class: "btn btn-mini"), [course, lesson, page ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_page_link", remote: true, title: "Delete page" %>
  </div>

  <h2>Page <span class="position"><%= page.position %></span></h2>

  <ul class="resources">
    <% page.resources.each do |resource| %>
        <% if ! resource.attachment_id.blank? %>
            <%= render resource.attachment %>
        <% end %>

        <%= render :partial => "shared/course_editor/resource", :object => resource %>
    <% end %>
  </ul>

  <div class="clearfix add_resource tooltips fadefocus">
  <%= link_to button_tag('<i class="icon-font"></i>'.html_safe, class: "btn btn-mini"), new_course_lesson_page_text_path(course,lesson,page), id: "add_text_link", remote: true, title: "Add some text" %>
  <%= link_to button_tag('<i class="icon-globe"></i>'.html_safe, class: "btn btn-mini"), new_course_lesson_page_link_path(course,lesson,page), id: "add_link_link", remote: true, title: "Add a hyperlink" %>
  <%= link_to button_tag('<i class="icon-picture"></i>'.html_safe, class: "btn btn-mini"),new_course_lesson_page_image_path(course,lesson,page), id: "add_image_link", remote: true, title: "Add an image" %>
  <%= link_to button_tag('<i class="icon-file"></i>'.html_safe, class: "btn btn-mini"), new_course_lesson_page_upload_path(course,lesson,page), id: "add_upload_link", remote: true, title: "Upload a file" %>
  <%= link_to button_tag('<i class="icon-film"></i>'.html_safe, class: "btn btn-mini"), new_course_lesson_page_video_path(course,lesson,page), id: "add_video_link", remote: true, title: "Add a video" %>
  </div>
</li>
