<section id="intro">

  <header>
    <h1><%= @user.username %></h1>
  </header>

  <div class="row-fluid" id="intro_content">

    <!---Bild und Bewertung--->
    <div class="span5">
        <figure>
          <%= image_tag @user.avatar.url(:medium), :class => "course_pic" %>
        </figure>

        <div id="progress">
        <% if @user == current_user %>
            <%= link_to "Edit Profile", edit_user_registration_path, :class=>"btn btn-block btn-large" %>
        <% else %>
            <%= link_to "Follow", "/dashboard", :class=>"btn btn-primary start-course btn-block btn-large" %>
        <% end %>
        </div>
    </div>
    <!---Beschreibung--->
    <div class="span7">

      <h2>Recent activity</h2>
      <div class="recent_activity">
      <ul>
      <% @recent_activity.each do |a| %>
          <li><%= convert_to_message(a)  %>
          <span class="when"> <%= time_ago_in_words(a.created_at) %> ago</span>
          </li>
      <% end %>
      </ul>
      </div>
    </div>
  </div>

</section>

<% if ! @tc.nil? %>

    <section id="popular">
      <header>
        <h1>Course Overview</h1>

      </header>
    <div id="favorites">
      <% @tc.each do |tc| %>
          <%
             c = Course.find(tc.course_id)
          %>
          <section class="course">
            <figure >
              <img src="/img/rating.png" class="rating_bar" width="186" height="39" />
              <%= link_to image_tag(c.image.url :medium, :class=>"course_pic"), course_path(c) %>
            </figure>
            <h2><%= link_to c.title, course_path(c) %></h2>

            <%= render 'shared/progressbar', { :progress => tc.lesson_progress_percent } %>

            <%= link_to "continue course", "/courses/#{c.slug}/lessons/#{tc.lesson_progress}/pages/#{tc.page_progress}", :class=>"btn btn-primary start-course btn-block btn-large" %>





          </section>

      <% end %>

    </div>
      </section>
<% end %>