<%= form_for ([@course, @lesson, @page, @video]), remote: true do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for( @resource ) do |resource_f| %>
    <div class="field">
      <%= resource_f.label :headline %><br />
      <%= resource_f.text_field :headline %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Link to youtube video" %><br />
    <%= f.text_field :video %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
