 <section id="intro" class="course_overview">
  <header>
   <h1>
     <%= @page.lesson.title %>
   </h1>
  </header>
  <div id="intro_content">
    <% @page.resources.each do |resource| %>
      <div class = "resource" id="resource_<%= resource.id %>">
        <% if resource.text %>
          <h2><%= resource.headline %></h2>
          <p><%= resource.text.text %></p>
        <% end %>
        <% if resource.link %>
          <h2><%= resource.headline %></h2> 
          <a href ="<%= resource.link.link %>">-> <%= resource.link.link %></a>
        <% end %>
        <% if resource.image %>
          <h2><%= resource.headline %></h2>
          <br />
          <%= image_tag resource.image.image.url(:medium) %> 
        <% end %>
        <% if resource.upload %>
          <h2><%= resource.headline %></h2>
          <a href ="<%= resource.upload.upload.url %>">-> <%= resource.upload.upload_file_name %></a> 
        <% end %>
      </div>
    <% end %>
    <% page_position = @page.position %>
    <% lesson_position = @page.lesson.position %>
    <% if @page.lesson.pages.find_by_position(page_position - 1) %>
      <% previous_page_id = @page.lesson.pages.find_by_position(page_position - 1).id %>
      <%= link_to "previous page", "/courses/#{@course.id}/lessons/#{@page.lesson.id}/pages/#{previous_page_id}" %>
    <% end %>
    <% if @page.lesson.pages.find_by_position(page_position + 1) %>
      <% next_page_id = @page.lesson.pages.find_by_position(page_position + 1).id %>
      <%= link_to "next page", "/courses/#{@course.id}/lessons/#{@page.lesson.id}/pages/#{next_page_id}" %>
    <% else %>
      Lesson finished!
      <% if @page.lesson.course.lessons.find_by_position(lesson_position + 1) %>
        <% next_lesson_id = @page.lesson.course.lessons.find_by_position(lesson_position + 1).id %>
        <% next_page_id = @page.lesson.course.lessons.find_by_position(lesson_position + 1).pages.first.id %>
        <%= link_to "start next lesson", "/courses/#{@course.id}/lessons/#{next_lesson_id}/pages/#{next_page_id}" %>
      <% else %>
        Course finished!
      <% end %>
    <% end %>
    <br />
    <%= link_to "back to course overview", "/courses/#{@course.id}" %>
  </div>
<section id="pagecommentbox" class="clearfix">

      <% @pagecomments.each do |pagecomment| %>
          <% u = User.find(pagecomment.user_id) %>
          <div class="comment">
            <div class="comment_content">
                <header>
                  <div class="info">

                    <%= link_to image_tag(u.avatar.url(:thumb)), user_path(u.username) %>
                    <div class="cmt_info">
                        <p><%= link_to u.username, user_path(u.username) %> </p>
                        <p><span class="when"><%= time_ago_in_words(pagecomment.created_at) %> ago</span></p>
                    </div>
                  </div>
                </header>
                <div class="content">
                  <%= pagecomment.content %>
                </div>
            </div>
          </div>
      <% end %>
      <% if user_signed_in? %>
          <div class="comment new">
            <div class="form">
              <%= link_to 'New pagecomment', "/courses/#{@course.slug}/lessons/#{@lesson.id}/pages/#{@page.id}/pagecomments/new", id: "new_comment_link", remote: true %>
            </div>
          </div>
      <% end %>

  </section>
