 <section id="intro">

    <header>
      <h1>
        <%= @course.title %></h1>
    </header>

    <div id="rating">
      <img></img>
    </div>

    <p>Created by <div id="creator">Jessica M.</div></p>

    <%= @course.description %>

    <%= link_to 'Edit', edit_course_path(@course) %>   |
    <%= link_to 'New Lesson', "/courses/#{@course.id}/lessons/new" %>
    <p id="notice"><%= notice %></p>

    <footer id="progress">
      <h1>Your progress</h1>
    </footer>

    <aside id="share">
      <h1>Share this</h1>
    </aside>

  </section>



  <section id="overview">
    <hr /><header>
    <h1>Overview</h1>
  </header>

    <hr />
    <ul id="lessons">

      <% @course.lessons.each do |lesson| %>
          <li class="locked">
            <h2><%= lesson.title %></h2>
            <p><%= lesson.description %></p>
            <%= link_to 'Show', [ @course, lesson ] %>
            <%= link_to 'Edit', edit_polymorphic_path([ @course, lesson ]) %>
            <%= link_to 'Destroy', [ @course, lesson ], method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
      <% end %>

    </ul>
  </section>

  <section id="comments">
    <hr />	<header>

    <h1>Comments</h1>

  </header>
    <hr />
    <section id="commentbox" class="clearfix">
      <!-- Keina Ahnung wie Commentboxen funktionieren? bzw was man hier einfügen kann damit wir das Zeug stylen können, sorry -->
      <div class="comment">
        <header>
          <img class="user_thumbnail" src="img/user_thumb.png">
          <div class="info">
            <a href="#">Julie S.</a>
            <div class="when">21 days ago</div>
          </div>
        </header>
        <div class="content">
          Thank you Jessica, I've had mine lying around for ages, now I can finally put it to good use!
        </div>
      </div>
      <% @course.comments.each do |comment| %>

          <div class="comment">
            <header>
              <img class="user_thumbnail" src="img/user_thumb.png">
              <div class="info">
                <a href="#"><%= User.find(comment.user_id).username %></a>

                <div class="when"><%= comment.created_at %>></div>
              </div>
            </header>
            <div class="content">
              <%= comment.content %>
            </div>
          </div>
      <% end %>
      <% if user_signed_in? %>
          <div class="comment new">
            <div class="user">
              <a href="#">
                <%= current_user.username %>
              </a>
            </div>
            <div class="form">
              <%=  render :partial => "form" %>
              <!-- TODO: render different form (:controller => comments) -->
            </div>
          </div>
      <% end %>


    </section>

  </section>