<div id = "<%= @lesson.id %>">
<div id="title">
  <h1>Lesson: <%= @lesson.title %>  <%= link_to 'edit title', editLessonTitle_path(@course,@lesson), id: "edit_title_link", remote: true, class: "btn btn-small" %>
  </h1>
</div>

<div id ="description">
  <p><%= @lesson.description %></p>
</div>
<%= link_to 'edit description', editLessonDescription_path(@course,@lesson), id: "edit_description_link", remote: true, class: "btn btn-small" %>

<br />
<div id="pagescontainer">
  <ul id="pages">
    <% @pages.each do |page| %>
        <%= render :partial => 'shared/course_editor/page', :object => page %>
    <% end %>
        <%= link_to '<i class="icon-plus-sign"></i> New Page'.html_safe, new_course_lesson_page_path(@course,@lesson), id: "add_page_link", remote: true, class: "page new fadefocus" %>
        <div id="add_page_form"></div>
  </ul>
</div>
    </div>
