<div id = "<%= @lesson.id %>">
<div id="title">
  <h1>Lesson: <%= @lesson.title %></h1>
  <%= link_to 'edit title', "/courses/#{@course.slug}/lessons/#{@lesson.id}/editTitle", id: "edit_title_link", remote: true, class: "btn btn-small" %>
</div>

<h2>Description:</h2>
<div id ="description">
  <p><%= @lesson.description %></p>
</div>
<%= link_to 'edit description', "/courses/#{@course.slug}/lessons/#{@lesson.id}/editDescription", id: "edit_description_link", remote: true, class: "btn btn-small" %>

  <h2>Image:</h2>
<div id ="image">
  <%= image_tag @lesson.image.url(:thumb) %>
</div>
<%= link_to 'edit image', "/courses/#{@course.slug}/lessons/#{@lesson.id}/editImage", id: "edit_image_link", remote: true, class: "btn btn-small" %>


<h2>Your Pages:</h2>
<br />
<div id="pagescontainer">
  <ul id="pages">
    <% @pages.each do |page| %>
        <%= render :partial => 'shared/course_editor/page', :object => page %>
    <% end %>
        <%= link_to '<i class="icon-plus-sign"></i> New Page'.html_safe, new_course_lesson_page_path(@course,@lesson), id: "add_page_link", remote: true, class: "page new fadefocus" %>
        <div id="add_page_form"></div>
  </ul>
</div>
    </div>