<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%= @lesson.description %>
</p>

<p>
  <b>Course:</b>
  <%= @lesson.course_id %>
</p>


<%= link_to 'Edit', edit_polymorphic_path([@course, @lesson]) %> |
<%= link_to 'Back', course_lessons_path %>
