<section class="intro course_overview">

  <header><h1 id="coursetitle">Edit <%= @course.title %>
    <%= link_to "edit", "/courses/#{@course.slug}/editTitle", id: "edit_coursetitle_link", remote: true, class: "btn btn-small" %></h1></header>

  <div class="intro_content clearfix">

    <!---Bild und Bewertung--->
    <figure id="courseimage" class="tooltips">
      <%= link_to image_tag(@course.image.url(:medium), :class => "course_pic"), "/courses/#{@course.slug}/editImage", id: "edit_courseimage_link", remote: true, title: "Change Course Image", class: "fadefocus" %>
      <div id="rating">
        <div id="rated_stars" class="rating_<%= @course.rating %>" >&nbsp;</div>
      </div>
    </figure>

    <!---Beschreibung--->
    <div class="intro_text">
      <div id ="coursedescription">
        <p><%= @course.description %></p>
      </div>
        <%= link_to "edit", "/courses/#{@course.slug}/editDescription", id: "edit_coursedescription_link", remote: true, class: "btn btn-small" %>
        <%= link_to 'Delete Course', [ @course ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_course_link", class: "btn btn-small btn-danger"%>
  </div>

      </div>

</section>


<div id="courseeditor" class="clearfix">
<div data-slug="<%= @course.slug %>">
 <div id="lessoneditor" class="clearfix">
    <ul id ="lessons">
     <% @lessons.each do |lesson| %>
        <li class="lesson" id="lesson_<%= lesson.id %>" >
           <h2><span class="position"><%= lesson.position %></span>: <%= lesson.title %></h2>
           <%= image_tag lesson.image.url(:thumb) %> <br />
	   <%= link_to 'edit', edit_polymorphic_path([ @course, lesson ]), id: "edit_page_link", remote: true, class: "btn btn-small" %>
	   <%= link_to 'delete', [ @course, lesson ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_lesson_link", remote: true, class: "btn btn-small btn-danger" %>
        </li>
     <% end %>

      <%= link_to '<i class="icon-plus-sign"></i> New Lesson'.html_safe, new_course_lesson_path(@course), id: "add_lesson_link", remote: true, class: "lesson new fadefocus" %>
      <div id="add_lesson_form"></div>
    </ul>
 </div>
 <div id="pageeditor" class="clearfix">
 </div>
</div>
</div>

</div>