<section class="intro course_overview">

  <header><h1 id="coursetitle" class="tooltips">
    <%= render :partial => "courses/editor/title", :object => @course %>
  </h1></header>

  <div class="intro_content clearfix">

    <!---Bild und Bewertung--->
    <figure id="courseimage" class="tooltips">
      <%= render :partial => "courses/editor/image", :object => @course %>
    </figure>

    <!---Beschreibung--->
    <div class="intro_text">
      <div id ="coursedescription">
        <p><%= @course.description %></p>
      </div>
        <%= link_to "edit", "/courses/#{@course.slug}/editDescription", id: "edit_coursedescription_link", remote: true, class: "btn btn-small" %>
        <%= link_to 'Delete Course', [ @course ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_course_link", class: "btn btn-small btn-danger"%>
  </div>

    <!---Fortschritt--->
    <div class="progressbox">
      <% if @course.published %>
          <%= link_to "Save as Draft", toggle_visibility_path(@course), :class => "btn btn-block btn-large" %>
      <%  else %>
          <%= link_to "Publish Course", toggle_visibility_path(@course), :class => "btn btn-block btn-large" %>
      <% end %>
    </div>
      </div>

</section>


<div id="courseeditor" class="clearfix">
<div data-slug="<%= @course.slug %>">
 <div id="lessoneditor" class="clearfix">
    <ul id ="lessons">
     <% @lessons.each do |lesson| %>
        <li class="lesson" id="lesson_<%= lesson.id %>" >
           <h2><span class="position"><%= lesson.position %></span>: <%= lesson.title %></h2>
	   <%= link_to 'edit', edit_polymorphic_path([ @course, lesson ]), id: "edit_page_link", remote: true, class: "btn btn-small" %>
	   <%= link_to 'delete', [ @course, lesson ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_lesson_link", remote: true, class: "btn btn-small btn-danger" %>
        </li>
     <% end %>

      <%= link_to '<i class="icon-plus-sign"></i> New Lesson'.html_safe, new_course_lesson_path(@course), id: "add_lesson_link", remote: true, class: "lesson new fadefocus" %>
      <div id="add_lesson_form"></div>
    </ul>
 </div>
 <div id="pageeditor" class="clearfix">
 </div>
</div>
</div>

</div>
