
<h1>Editing course</h1>
<div class="courseeditor">
<div id="coursetitle">
  <h1>Lesson: <%= @course.title %></h1>
</div>
<%= link_to '-> (edit coursetitle)', "/courses/#{@course.slug}/editTitle", id: "edit_coursetitle_link", remote: true %>
<br /><br />
<h2>Description:</h2>
<div id ="coursedescription">
  <p><%= @course.description %></p>
</div>
<%= link_to '-> (edit course description)', "/courses/#{@course.slug}/editDescription", id: "edit_coursedescription_link", remote: true %>
<br /><br />
<h2>Image:</h2>
<div id ="courseimage">
  <%= image_tag @course.image.url(:thumb) %> 
</div>
<%= link_to '-> (edit course image)', "/courses/#{@course.slug}/editImage", id: "edit_courseimage_link", remote: true %>
<br /><br />
<div id = "courseeditor">
<div id = "<%= @course.slug %>">
 <div id="lessoneditor">
    <ul id ="lessons">
     <% @lessons.each do |lesson| %>
        <li class="lesson" id="lesson_<%= lesson.id %>" >
           <h2><span class="position"><%= lesson.position %></span>: <%= lesson.title %></h2>
           <%= image_tag lesson.image.url(:thumb) %> <br />
	   <%= link_to 'Edit', edit_polymorphic_path([ @course, lesson ]), id: "edit_page_link", remote: true %>
	   <%= link_to 'Destroy', [ @course, lesson ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_lesson_link", remote: true %>
        </li>
     <% end %>
    </ul>  
    <%= link_to 'Add Lesson', "/courses/#{@course.slug}/lessons/new", id: "add_lesson_link", remote: true %>
    <div id="add_lesson_form"></div>
 </div>
 <div id="pageeditor">
 </div>
</div>
</div>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>

</div>