<section class="intro course_overview">

  <header><h1 id="coursetitle">Edit <%= @course.title %>
    <%= link_to "edit", "/courses/#{@course.slug}/editTitle", id: "edit_coursetitle_link", remote: true, class: "btn btn-small" %></h1></header>

  <div class="intro_content clearfix">

    <!---Bild und Bewertung--->
    <figure id="courseimage">
      <%= link_to image_tag(@course.image.url(:medium), :class => "course_pic"), "/courses/#{@course.slug}/editImage", id: "edit_courseimage_link", remote: true %>
      <div id="rating">
        <div id="rated_stars" class="rating_<%= @course.rating %>" >&nbsp;</div>
      </div>
    </figure>

    <!---Beschreibung--->
    <div class="intro_text">
      <div id ="coursedescription">
        <p><%= @course.description %></p>
      </div>
      <%= link_to "edit", "/courses/#{@course.slug}/editDescription", id: "edit_coursedescription_link", remote: true, class: "btn btn-small" %>


          <%= link_to 'Delete Course', [ @course ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_course_link", class: "btn btn-small btn-danger"%>
  </div>

</section>

<div id="lessons">
  <div class="row-fluid">
    <% @lessons.each_with_index do |lesson, index| %>
        <a class="locked lesson span3" href="<%= "/courses/#{@course.slug}/lessons/#{lesson.id}" %>">
          <h2><%= lesson.title %></h2>
          <p><%= lesson.description %></p>
          <% first_lesson_page = lesson.pages.first %>
        </a>
        <% if index % 4 == 3 %>
            </div><div class="row-fluid">
        <% end %>
    <% end %>
    </div>

    </div>
</section>


<div id = "courseeditor">
<div data-slug="<%= @course.slug %>">
 <div id="lessoneditor">
    <ul id ="lessons">
     <% @lessons.each do |lesson| %>
        <li class="lesson" id="lesson_<%= lesson.id %>" >
           <h2><span class="position"><%= lesson.position %></span>: <%= lesson.title %></h2>
           <%= image_tag lesson.image.url(:thumb) %> <br />
	   <%= link_to 'Edit', edit_polymorphic_path([ @course, lesson ]), id: "edit_page_link", remote: true %>
	   <%= link_to 'Destroy', [ @course, lesson ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_lesson_link", remote: true %>
        </li>
     <% end %>
    </ul>  
    <%= link_to 'Add Lesson', "/courses/#{@course.slug}/lessons/new", id: "add_lesson_link", remote: true %>
    <div id="add_lesson_form"></div>
 </div>
 <div id="pageeditor">
 </div>
</div>
</div>

<%= link_to 'Back to Course', @course %>

</div>