 <section id="intro">

    <header>
      <h1>
        <%= @course.title %></h1>
    </header>

    <div id="rating">
      <img></img>
    </div>

    <p>Created by <div id="creator">Jessica M.</div></p>

    <%= @course.description %>

    <%= link_to 'Edit', edit_course_path(@course) %>   |
    <%= link_to 'New Lesson', "/courses/#{@course.id}/lessons/new" %>
    <p id="notice"><%= notice %></p>

    <footer id="progress">
      <h3>Your progress</h3>
      <div class="progress progress-striped">
        <div class="bar" style="width: 40%;"></div>
      </div>
    </footer>

    <aside id="share">
      <h3>Share this</h3>
    </aside>

  </section>



  <section id="overview">
    <hr /><header>
    <h1>Overview</h1>
  </header>

    <hr />
    <div id="lessons" class="row-fluid">

      <% @course.lessons.each do |lesson| %>
          <div class="locked well span3">
            <h2><%= lesson.title %></h2>
            <%= link_to 'Show', [ @course, lesson ] %>
            <%= link_to 'Edit', edit_polymorphic_path([ @course, lesson ]) %>
            <%= link_to 'Destroy', [ @course, lesson ], method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      <% end %>

    </div>
  </section>

  <section id="comments">
    <hr />	<header>

    <h1>Comments</h1>

  </header>
    <hr />
    <section id="commentbox" class="clearfix">
      <!-- Keina Ahnung wie Commentboxen funktionieren? bzw was man hier einfügen kann damit wir das Zeug stylen können, sorry -->
      <div class="comment well">
        <header>
          <div class="info">
            <a href="#">Julie S.</a>
            <div class="when">21 days ago</div>
          </div>
        </header>
        <div class="content">
          Thank you Jessica, I've had mine lying around for ages, now I can finally put it to good use!
        </div>
      </div>
      <% @course.comments.each do |comment| %>
          <% u = User.find(comment.user_id) %>
          <div class="comment well">
            <header>
              <div class="info">

                <%= image_tag u.avatar.url(:thumb) %>
                <a href="#"><%= u.username %></a>

                <div class="when"><%= time_ago_in_words(comment.created_at) %> ago</div>
              </div>
            </header>
            <div class="content">
              <%= comment.content %>
            </div>
          </div>
      <% end %>
      <% if user_signed_in? %>
          <div class="comment well new">
            <div class="form">
              <%= link_to 'New Comment', {:controller => "comments", :action => "new",:course_id => @course.id },
                          id: "new_comment_link", remote: true %>
              <!-- TODO: render different form (:controller => comments) -->
            </div>
          </div>
      <% end %>


    </section>

  </section>