<span class="position"><%= upload.resource.position %></span>. upload: <%= upload.resource.headline %>
<br />
<%= upload.upload.url %>
<br />
<%= link_to '(x)', [ @course, @lesson, @page, upload.resource ], method: :delete, data: { confirm: 'Are you sure?' }, id: "remove_resource_upload", remote: true %>
&nbsp;
<%= link_to '(edit)', "/courses/#{@course.slug}/lessons/#{@lesson.id}/pages/#{@page.id}/uploads/#{upload.id}/edit", id: "edit_upload_upload", remote: true %>
