<%= form_for([@course, @lesson, @page, @text]) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for( @text.resource) do |resource_f| %>
    <div class="field">
      <%= resource_f.label :headline %><br />
      <%= resource_f.text_field :headline %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <%= @text.resource_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
