<%= form_for ([@course, @lesson, @page, @image]), remote: true do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <%= fields_for( @resource ) do |resource_f| %>
    <div class="field">
      <%= resource_f.label "Beschreibung" %><br />
      <%= resource_f.text_field :headline %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
